/* BODY */
body {
    padding: 0;
    margin: 0;
}

/* FONT */
* { 
    font-family: 'Open Sans', sans-serif; 
}
h1 {
    font-size: 36px;
}

/* HOVER */
a { 
    color: #000; 
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/* MAIN */

.template h1 { 
    text-align: center;
    padding: 20px 0;
}

.template {
    width: 70%;
    margin: auto;
}

.template .topic {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 40px 0;
}

.template .topic p {
    padding:0;
    margin:0;
    width: 50%;
    vertical-align: top;
    display: inline-block;
}

.template .topic img {
    width: 400px;
    height: 100%;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #D32F2F;
    margin-top:40px;
    padding: 80px 0;

}

.footer-container {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

footer li { 
    list-style: none;
    padding-bottom: 6px;
}

/* NAVBAR */
.navbar {
    overflow: hidden;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 1px 3px #888888;

}
.navbar-container {
    margin: auto;
    width: 70%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color:  #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#header-img h3 { 
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 40px;
}

#header-img { background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7c/Honolulu_Museum_of_Art_School_%28formerly_the_Academy_Art_Center_at_Linekona%29.JPG");
height: 70vh;
width: 100%;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

#content-header {
    text-align: center;
    display: block;
    padding:30px 0;
}

#content-boxes{
    width: 70%;
    margin: auto;
}


.content-cat {
display: flex;
justify-content: space-between;
padding-bottom:50px;
}

.content-item{
    display: inline-block;
   background-color: #eee;
   width: 30%;
   padding:40px 0;
   transition: 300ms ease-in-out;
}

.content-item:hover{
    box-shadow: 3px 3px 3px #888888;
    transition: 300ms ease-in-out;
}

.content-item h1, p, a {
    text-align: center;
    display: block;
}

#content-item h1{
    text-align: center;
    display: block;
    padding-bottom:30px;
}
